<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Validate booking</h1>
        <%= @booking.beast %>
        <%= @booking.start_date %>
        <%= @booking.end_date %>
        <%= @booking.user %>

      <%= simple_form_for [@beast, @booking] do |f| %>
        <%= f.input :validate, as: :boolean %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
