<!-- # to do create research method in beast controller -->
<div class="form-group">
  <%= form_tag beasts_path, method: :get, class: "form-search" do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search Beast", class: "form-control form-group" %>

    <button name="button" type="submit" class="btn-search">
      <i class="fas fa-search"></i>
    </button>
    <div class="radio-buttons mr-1">
      <%= radio_button_tag :sorting, "price" %>
      <span class="mr-5"><%= label_tag(:price, "Low-high prices") %></span>
      <%= radio_button_tag :sorting, "dangerosity" %>
      <span><%= label_tag(:dangerosity, "Danger Rating") %></span>
    </div>
  <% end %>
</div>

