
<div class="container-fluid d-flex justify-content mt-5">

</div>
<div class="banner">
  <div class="container search-form-control">
  <%= render 'shared/research' %>
    <div class="promo">
      <%= render 'shared/valentin' %>
    </div>
  </div>
</div>

<div class="cards-grid container-fluid d-flex flex-wrap justify-content-center align-items-center col-10 mt-5">

  <% @beasts.each do |beast| %>
      <div class="container-fluid col-4 mb-5">
        <div class="beast-card d-flex justify-content-center align-items-center" style="background-image: linear-gradient(180deg, rgba(212,255,199,0.3309698879551821) 0%, rgba(2,0,36,0.7175245098039216) 49%, rgba(134,36,36,0.15449929971988796) 100%), url('<%= image_path "#{beast.species}.jpg" %>')">
            <div>
             <%= render 'shared/promo', beast: beast %>
            </div>

            <div class="card-title text-center">
              <h4><%= beast.name %></h4>
              <div id="species">
                <i class="fas fa-dragon"></i>
                <%= beast.species %>
              </div>
            </div>
            <div class="mb-5 card-body" >
              <div class="m-3">
                <div class="mb-2">
                  <i class="fas fa-pound-sign"></i>
                  <%= beast.price * beast.promo / 100 %>/day
                </div>

                <div class="mb-2">
                  <div>DANGER</div>
                  <div>
                    <% beast.dangerosity.times do  %>
                     <%= image_tag('danger.png', class: "danger-avatar") %>
                    <% end %>
                  </div>
                </div>
                <div>
                  <i class="fas fa-map-pin"></i>
                  <%= beast.address %>
                </div>
              </div>
              <div class="container-fluid d-flex justify-content-center">
                <button><%= link_to 'More details', beast_path(beast) %></button>
              </div>
            </div>
        </div>

      </div>
  <% end %>
</div>
