<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Tell us everything about your beast</h1>

      <%= simple_form_for @beast do |f| %>
        <%= f.input :name %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :description, as: :text  %>
        <%= f.input :address %>
        <%= f.input :dangerosity, collection: Beast::DANGEROSITIES %>
        <%= f.input :price, label: 'Price (£/rental day)', error: 'We recommend you fix your price between £15 and £150' %>
        <%= f.input :species, collection: Beast::SPECIES %>
        <%= f.button :submit, class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>
